version: "3.9"

services:
  db:
    image: mysql:8
    container_name: bigbag-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: bigbag
    volumes:
      - mysql_data:/var/lib/mysql


  backend:
    build: ./backend
    container_name: bigbag-backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: bigbag-frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend

volumes:
  mysql_data:
